body {
  margin: 0;
  padding: 0;
  background-color: #13579b;
}

#container {
  width: 500px;
  border-radius: 10px;
  position: relative;
  margin: 50px auto;
  background-color: #bbb;
}

#option-container {
  width: 300px;
  background-color: #b97531;
  display: flex;
  justify-content: space-around;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.option-column {
  width: 100%;
  height: 100%;
}

.options {
  padding: 10px;
  position: relative;
  height: 100%;
  border: 1px solid white;
}

div div input {
  width: 40px;
  height: 100%;
  cursor: pointer;
  position: absolute;
  display: inline-block;
  margin-top: -30px;
  opacity: 0;
  z-index: 4;
}

input:checked ~ div {
  background-color: #888;
}

#all {
  border-top-left-radius: 10px;
  border-right: none;
}

#offline {
  border-bottom-right-radius: 10px;
  border-left: none;
}

#search {
  background-color: transparent;
  border: none;
  padding: 10px;
  margin: 10px;
}
