body {
  margin: 0;
  padding: 0;
  background-color: #f69600;
}

h1 {
  color: #EEE;
  font-size: 64px;
  text-align: center;
  font-family: 'Monsterrat', sans-serif;
}

#container {
  width: 700px;
  margin: 50px auto;
  border-radius: 10px;
  position: relative;
  background-color: #bbb;
}

#outer-option-container {
  display: inline-block;
}

#option-container {
  width: 300px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-around;
}

.option-column {
  height: 100%;
  width: 100%;
}

.options {
  height: 100%;
  padding: 10px;
  border: 1px solid #456789;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  user-select: none;
  background-color: #123456;
  color: #EEE;
}

div div input {
  height: 40px;
  width: 100px;
  margin-top: 0px;
  position: absolute;
  display: inline-block;
  cursor: pointer;
  z-index: 4;
  opacity: 0;
}

input:checked ~ .options {
  border: 1px solid #abcdef;
  background-color: #6789ab;
}

#all {
  border-top-left-radius: 10px;
  border-right: none;
}

#offline {
  border-bottom-right-radius: 10px;
  border-left: none;
}

#search {
  padding: 0 10px;
  display: inline-block;
  background-color: transparent;
  border: none;
  user-select: none;
  outline: none;
}

#list {
  padding: 10px;
  list-style-type: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

.online {
  border: 2px solid #EEE;
  background-color: #CCC;
}

li {
    border: 2px solid transparent;
}

#list li {
  margin: 25px 10px;
  padding: 10px;
  border-radius: 5px;
  transition-duration: 2s;
  display: grid;
  grid-template-columns: 70px 180px 400px;
  opacity: 0;
}

#list img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#list span {
  margin: 0 20px;
  display: flex;
  align-items: center;
  }

#list p {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#list a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}
